@import 'fonts';
@import 'clearfix';
@import 'slider';

@mixin title-font{
	font-family: ProximaNovaBold;
    text-align: center;
	color: #daaa5c;
	font-size: 60px;
	//padding-top: 60px;
	margin: 0 auto;
}
@mixin content-font{
	font-family: ProximaNovaRegular;
	font-size: 18px;	
}
@mixin link-font{
    text-decoration: none;
    font-family: ProximaNovaBold;
    font-size: 15px;
    text-transform: uppercase;
    color: #534741;
    letter-spacing: 0.5px;
}

@mixin white-nav{
		.slider-nav {
			width: 60px!important;
			&__item{
				width: 18px;
				height: 18px;
				background: url(../images/slider_nav_white.png) no-repeat 100%;
				&:hover{
					background: url(../images/slider_nav_white.png) no-repeat; 
				}
				&--current{
					background: url(../images/slider_nav_white.png) no-repeat; 
				}
		}
	}
}
html, body {
	  // min-height: 100% !important;
	  height: 100%;
	  padding: 0;
	  margin: 0;
	  /* -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale; */
}
ul{
	padding: 0;
}
h2,h3 {
    margin: 0;
}
.wrapper {
		//padding: 0 20px;
		max-width: 100%;
		margin: 0 auto;
}
.content-wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
.header{
	height: 805px;
	@include white-nav;
	&-wrapper{
		//margin: 0 auto;
		position: absolute;
		top: 0;
		height: 202px;
		width: 100%;
		background: rgba(255,255,255,0.82);
	}
	&-logo{
		margin: 0 auto;
    	margin-top: 37px;
		background: url(../images/logo.png) no-repeat;
		width: 185px;
		height: 100px;
	}
	&__slider{
		background: url(../images/header_slide.jpg) no-repeat 50% 100% / cover;
		height: 805px;
	}
}

.main-menu{
	margin: 0 auto;
    max-width: 830px;
	&__list{
    padding-top: 5px; 
	}
	&__item{
		list-style-type: none;
		display: inline-block;
	}
	&__link{
		padding: 30px;
        @include link-font;
	}
}

.project{
	margin: 0 auto;
	height: 866px;
	max-width: 800px;
	&__wrapper{
		padding-top: 100px;
	}
	&__logo{
		margin: 0 auto;
		margin-top: 7px;
		background: url(../images/mountain_icon.png) no-repeat;
		width: 152px;
		height: 116px;
	}
	&__title{
		@include title-font;
	    padding-top: 28px;
		margin-left: -22px;
	}
	&__discr{
		padding-top: 18px;
        text-align: center;
		font-family: ProximaNovaRegular;
		font-weight: bolder;
		font-size: 24px;
		color: #666666;
		&-low{
			@include content-font;
			line-height: 1.34;
            text-align: center;
			padding-top: 27px;
			color: #666666;
		}
	}
}

.product{
	height: 894px;
	background: #f2f2f2;
	&__slide{
		&-title{
			@include title-font;
			padding-top: 51px;
			margin-left: -20px;
		}
		&-logo{
			margin-left: -20px;
    		margin-top: 27px;
			background: url(../images/mountain_icon_little.png) no-repeat;
			width: 83px;
			height: 64px;
		}
		&-name{
			padding-top: 20px;
			font-family: ProximaNovaRegular;
			font-size: 24px;
		}
		&-discr{
			@include content-font;
			padding-top: 5px;
			max-width: 522px;
			line-height: 1.35;
			letter-spacing: -0.2px;
		}
		&-wrapper{
			padding-left: 190px;
		}
		&-1{
			height: 824px;
			background: url(../images/product_bg_2.png) no-repeat 100%;
			}
		&-2{
			background: url(../images/product_bg_1.png) no-repeat 100%;
		}
	}
}
.technology{
	height: 998px;
	&__slide{
		&-title{
			@include title-font;
			padding-top: 39px;
			max-width: 820px;
			letter-spacing: 1.2px;
		}
		&-discr{
			@include content-font;
		    margin-bottom: -14px;
			padding-left: 176px;
   			padding-top: 18px;
			max-width: 825px;
			line-height: 1.35;
		}
	}
	&__items{
		padding-top: 60px;
		padding-left: 64px;
		max-width: 670px;
		margin: 0 auto;
	}
    &__item{
		margin-right: 80px;
		float: left;
		width: 250px;
		text-align: center;
		&-name{
			display: block;
			padding-top: 40px;
			font-family: ProximaNovaBold;			
			color: #282828;
			font-size: 18px;
		}
    }
}

.region{
	@include white-nav;
	&-title{
        @include title-font;
		margin-left: -18px;
		padding-top: 57px;
        color: white;
    }
	&__slide{
		&-wrapper{
			float: right;
			margin-right: 64px;
			padding-top: 12px;
			line-height: 1.34;
			letter-spacing: 0.4px;
		}
		&-discr{
			@include content-font;
			color: white;
			max-width: 535px;
		}
		&-1{
			height: 935px;
			background: url(../images/region_bg_1.jpg) no-repeat;
			background-size: cover;
		}
		&-2{
			height: 935px;
			background: #7eaa17 url(../images/region_bg_2.png) no-repeat 10% 50%;
		}
		&-discr{
			@include content-font;
			color: white;
			max-width: 535px;
			&_big{
				font-size: 24px;
				font-weight: bolder;
				@include content-font;
				color: white;
				max-width: 535px;
			}
		}
	}
}

.sights{
	height: 1078px;
	.slides{
		height: 860px;
	}
	&__slide{
		&-title{
			@include title-font;
			padding-top: 52px;
			max-width: 700px;
		}
		&__discr{
			@include content-font;
		}
	}
    &__list{
		margin-left: 10px;
        &-item{
		margin-top: 76px;
		margin-right: 35px;
    	margin-bottom: -20px;
		width: 360px;
        float: left;
        list-style-type: none;    
        }
		&-title{
			display: block;
			padding: 15px 0px 9px 50px;
			margin-top: 21px;
			margin-left: 50px;
			@include link-font;
			letter-spacing: 2px;
			background: url(../images/title_bg.png) no-repeat;
		}
    }
}
.culture{
	@include white-nav;
	height: 772px;
    &-title{
        @include title-font;
		padding-top: 68px;
		letter-spacing: -2px;
    }
	&__slide{
	background: black url(../images/culture.png) no-repeat 100% 100%;
		&-discr{
			padding-top: 22px;
			line-height: 1.35;
			@include content-font;
			color: white;
			padding-left: 190px;
			max-width: 535px;
			&_big{
				display: block;
				padding-top: 65px;
				line-height: 1.25;
				@include content-font;
				color: white;
				padding-left: 190px;
				max-width: 535px;
				font-size: 24px;
			}
		}
	}
}

.cuisine{
	height: 940px;
	background: #daaa5c ;
	&__title{
		@include title-font;
		padding-top: 42px;
		letter-spacing: 1.3px;
		color: white;
        max-width: 550px;
	}
	&__discr{
		@include content-font;
		margin: 0 auto;
		padding-top: 42px;
		line-height: 1.35;
		color: white;
		max-width: 825px;
		text-align: center;
	}
}

.recipe{
    &__title{
		@include title-font;
    	padding-top: 36px;
		color: white;
		letter-spacing: -2px;
    }
	&__list{
		padding-top: 31px;
	}
    &__item{
        text-align: center;
        list-style-type: none;
        float: left;
        width: 400px;
        &-title{
            @include link-font;
			display: inline-block;
			padding-top: 35px;
    		padding-right: 18px;
			width: 340px;
			letter-spacing: 2px;
        }
    }
}
footer{
	height: 235px;
    background: url(../images/footer_bg.png) repeat-x;
}

.copyright{
    display: block;
	padding-top: 180px;
    padding-left: 185px;
}

@media all and (max-width: 767px) {
  	@import 'phone';
}

